// header

@mixin TextHeaderItems {
    font-family: Alegreya;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
  }

// presentSection

@mixin FontTextOverTitle { //используется во всем макете
    font-family: JosefinSans;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;        
    color: $ColorRed;
}
@mixin BtnAndBtnHover {
  a {
    font-family: Alegreya;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;        
    color: $ColorWhite;
    padding: 10px 40px;
    background-color: $ColorRed;
    border-radius: 30px;
    transition: all 0.3s ease;    
    border: 0.75px solid transparent; //чтобы не прыгал остальной текст при наведении   
    
  }
  a:hover {        
    color: $ColorBrown;
    background-color: transparent;        
    border: 0.75px solid $ColorRed;                
  }  
}
@mixin PointsAndPointsHover {
  .points {    
    img {
        width: 118px; 
        position: absolute;
        z-index: 10;        
        transition: all 0.3s ease;          
    }
    img:hover {
        transform: scale(1.25);
    }    
}
}

// firstSlider

@mixin OneSlideFirstSlider {
  .slides__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $ColorWhite;
    border: 0.5px solid $ColorBorder;
    box-sizing: border-box;
    border-radius: 5px 5px 5px 35px;
    width: 270px;
    height: 282px;    
    img {
      width: 63px;
      height: 63px;
    }
    h3 {
      margin-top: 45px;
      font-family: Alegreya;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      color: $ColorBrown;
    }
    a {
      display: none;
    }
  }
  .slides__slide:hover {
      
    a {
      display: block;
      margin-top: 40px;
      font-family: Alegreya;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      text-align: center;
      color: $ColorRed;
    }
  }
}