// header
$ColorBackgroundBody:#E5E5E5;
$ColorWhite:#FFFFFF;
$ColorTextItems:#837171;
$ColorBrown: #3A1212;
$ColorRed: #FF2625;

// presentSection

$ColorGray:#504747;
$ColorBackgroundText: rgba(255, 38, 37, 0.05);

// firstSlider
$ColorBorder:#E1E1E1; 