// header
$ColorBackgroundBurger:#FFFFFF;
$ColorTextItems:#837171;
$ColorTextItemsHover:#3A1212;
$ColorBorderHover:#FF2625;
$BackgroundBurgerSpan:#FF2625;

// presentSection

$ColorTextOverTitle: #FF2625;
$ColorTitle: #3A1212;
$ColorSubtitle: #504747;
$ColorBtnBackground: #FF2625;
$ColorBtnText: #FFFFFF;
$ColorBtnTextHover: #3A1212;
$ColorBtnBorderHover:#FF2625;