$ColorBackgroundBody:#E5E5E5;
$ColorWhite:#FFFFFF;
$ColorTextItems:#837171;
$ColorBrown: #3A1212;
$ColorRed: #FF2625;
$ColorGray:#504747;
$ColorBackgroundText: rgba(255, 38, 37, 0.05);
$ColorBorder:#E1E1E1;
$ColorTextInput:#9B9DAC;
$ColorBlack:#000000;
$ColorMyName:#A69B9B;
$ColorBackgroundFooter:rgba(255, 243, 244, 0.9);

