section.descriptionSection.container
    div.descriptionSectionFirst
        div.points
            img(src="./assets/images/points.png", alt="points")
        div.icon1
            include icon1.pug
        div.icon2
            include icon2.pug
        div.icon3
            include icon3.pug
        div.icon4
            include icon4.pug
        div.img
            img(src="./assets/images/descriptionSectionImgFirst.png", alt="")
        div.textBlock
            p.textBlock__textOverTitle Health Benefits                
            h1.textBlock__title Physical Exercise Gives <br> Your Body The Wings
            p.textBlock__subtitle Physical activity and exercise can have immediate and <br> long-term health benefits. Most importantly, regular <br> activity can improve your quality of life.Exercise can <br> improve your health and reduce the risk of 
            div.textBlock__btm
                a(href="#") Learn more
    div.descriptionSectionSecond       
        div.points
            img(src="./assets/images/points.png", alt="points")
        div.icon5
            include icon5.pug
        div.icon6
            include icon6.pug
        div.textBlock
            p.textBlock__textOverTitle Improve Moods                
            h1.textBlock__title Makes You More Active <br> And Improve Moods
            p.textBlock__subtitle Physical activity and exercise can have immediate and <br> long-term health benefits. Most importantly, regular <br> activity can improve your quality of life.Exercise can <br> improve your health and reduce the risk of 
            div.textBlock__btm
                a(href="#") Learn more
        div.img
            img(src="./assets/images/descriptionSectionImgSecond.png", alt="")        