section.emailSection.container
    div.icon1
        include icons/emailSectionIcon1.pug
    div.icon2
        include icons/emailSectionIcon2.pug
    div.icon3
        include icons/emailSectionIcon3.pug
    div.rectangles
        img(src="./assets/images/rectangles.png", alt="rectangles")
    div.textBlock
        h1 Subscribe Our Fitness Articles
        p Physical activity is defined as any bodily movement produced by <br> skeletal muscles that results in energy expenditure
    div.inputEmail
        input#email(type="email" placeholder="Type Your Email Address")
        label(for="email") 
            a(href="#") Subscribe