section.firstSlider.container
    div.icon 
        img(src="./assets/images/firstSlidericon.png", alt="")
    div.textBlock
        p.textBlock__textOverTitle Our Services                        
        h1.textBlock__title Awesome Packages That We <br> Offer For Our Clients
    div.wrapper 
        input#leftArrow(type="radio")
        input#rightArrow(type="radio")
        div.slides
            div.slides__slide.slideOne
                img(src="./assets/images/firstSlider1.png", alt="Meditation")
                h3 Meditation <br> Programme
                p Learn more
            div.slides__slide.slideTwo
                img(src="./assets/images/firstSlider2.png", alt="Muscle")
                h3 Muscle <br> Building
                p Learn more
            div.slides__slide.slideThree
                img(src="./assets/images/firstSlider3.png", alt="Cardio")
                h3 Cardio <br> Programme
                p Learn more
            div.slides__slide.slideFour
                img(src="./assets/images/firstSlider4.png", alt="Nutrition")
                h3 Nutrition <br> Supports
                p Learn more
        div.controls 
            label.left(for="leftArrow")
            label.right(for="rightArrow")  