section.firstSlider.container
    div.icon 
        img(src="./assets/images/firstSlidericon.png", alt="")
    div.textBlock
        p.textBlock__textOverTitle Our Services                        
        h1.textBlock__title Awesome Packages That We <br> Offer For Our Clients
    div.wrapper 
        input#leftArrow(type="radio")
        input#rightArrow(type="radio")
        div.slides
            div.slides__slide.slideOne
                img(src="./assets/images/firstSlider1.png", alt="Meditation")
                h3 Meditation <br> Programme
                a(href="#") Learn more 
            div.slides__slide.slideTwo
                img(src="./assets/images/firstSlider2.png", alt="Muscle")
                h3 Muscle <br> Building
                a(href="#") Learn more
            div.slides__slide.slideThree
                img(src="./assets/images/firstSlider3.png", alt="Cardio")
                h3 Cardio <br> Programme
                a(href="#") Learn more
            div.slides__slide.slideFour
                img(src="./assets/images/firstSlider4.png", alt="Nutrition")
                h3 Nutrition <br> Supports
                a(href="#") Learn more
        div.controls 
            label.left(for="leftArrow")
                div.leftArrow                    
                    svg(width='14' height='8' viewbox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M13.5987 3.56266H2.18977L4.81464 0.937799L4.19593 0.319092L0.514832 4.00019L4.19593 7.68129L4.81464 7.06258L2.18972 4.43766H13.5987V3.56266Z' fill='#3A1212')                    
            label.right(for="rightArrow")
                div.rightArrow 
                    svg(width='14' height='8' viewbox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M13.5987 3.56266H2.18977L4.81464 0.937799L4.19593 0.319092L0.514832 4.00019L4.19593 7.68129L4.81464 7.06258L2.18972 4.43766H13.5987V3.56266Z' fill='#3A1212')