footer 
    div.footer
        div.linksFooter
            div.links__socialNetworks
                div.title
                img(src="./assets/images/logo.png", alt="logo")
                h3 Golds Gym
            p A Modified Fitness Club that <br> provide fitness & nutrition related <br> services to improve your health
            div.imgSocialNetworks
                img(src="", alt="")
                img(src="", alt="")
                img(src="", alt="")
                img(src="", alt="")
            div.linksFooter__links.resources
                h3 Resources
                a(href="#") Features
                a(href="#") Pricing
                a(href="#") Activity
                a(href="#") Instructors
            div.linksFooter__links.about
                h3 About
                a(href="#") Blog
                a(href="#") FAQs
                a(href="#") Policy
                a(href="#") Contact
            div.linksFooter__links.helpfulLinks
                h3 Helpful Links
                a(href="#") Articles
                a(href="#") Nutritions
                a(href="#") Meditation
                a(href="#") Services
        div.myName
            p Created with by  ALIAKSANDR KUZIURENKA. All rights reserved