header
      div.header.container
        div.header__left
          div.header__logo 
            img(src="./assets/images/logo.png", alt="logo")          
          div.header__items            
            a.header__items.item(href="#") Home
            a.header__items.item(href="#") Training
            a.header__items.item(href="#") Contact
        div.burger
          span
          span 
          span          