header
      div.header.container
        div.header__left
          div.header__logo 
            img(src="./assets/images/logo.png", alt="logo")
          input#menu__toggle(type='checkbox')
          label.header__burger(for='menu__toggle')
            span           
          div.header__items            
            a.header__item(href="#") Home
            a.header__item(href="#") Training
            a.header__item(href="#") Contact
        div.burger
          span
          span 
          span          