section.presentSection.container
    div.container
        div.rectangles
            img(src="./assets/images/rectangles.png", alt="rectangles")
        div.textBlock
            div.textBlock__textOverTitle
                p __Fitness Club
                img(src="./assets/images/iconPresentSection.png", alt="athlete icon")
            h1.textBlock__title Sweat, Smile <br> And Repeat 
            p.textBlock__subtitle A gym is a club, building, or large room, usually <br> containing special equipment, where people go to 
            div.textBlock__btm
                a(href="#") Join Now
                a(href="#") Know More
            p.textBlock__backgroundText Exercise    
        div.bacgroundPhoto
            img(src="assets/images/presentSectionBacgroundPhoto.png", alt="") 
        div.points
            img(src="./assets/images/points.png", alt="points")
       
    