section.reviews.container
    div.icon1 
        include icons/reviewsIcon1.pug
    div.icon2 
        include icons/reviewsIcon2.pug
    div.img
        img(src="./assets/images/ImgSectionReviews.png", alt="people")
    div.textBlock
        p.textBlock__textOverTitle Testimonial                      
        h1.textBlock__title That’s What Our <br> Super Client Says
    div.wrapperReviewsSlider
        input#leftArrow(type="radio")
        input#rightArrow(type="radio")
        div.slidesReviewsSlider
            div.slidesReviewsSlider__slide.slideOne
                p.review “Gale is an amazing trainer as well as a great <br> person. She is so flexible when it comes to my <br> crazy work schedule and makes sure to always fit <br> me in. Every day she pushes me harder towards <br> my goals.”
                h3.name Jessica Parker
                p.country Mariland,USA
        div.quotes
            svg(width='95' height='76' viewbox='0 0 95 76' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M28.2 0.899988C32.6 0.899988 36.2 2.39999 39 5.39998C42 8.39999 43.5 12.1 43.5 16.5C43.5 19.1 43.1 21.5 42.3 23.7C41.5 25.9 40.1 28.8 38.1 32.4L15.3 75.6H0.900002L19.8 31.8C17.2 30.6 15.1 28.8 13.5 26.4C12.1 23.8 11.4 21 11.4 18C11.4 13.2 13 9.19999 16.2 5.99999C19.6 2.59999 23.6 0.899988 28.2 0.899988ZM79.2 0.899988C83.6 0.899988 87.2 2.39999 90 5.39998C93 8.39999 94.5 12.1 94.5 16.5C94.5 19.1 94.1 21.5 93.3 23.7C92.5 25.9 91.1 28.8 89.1 32.4L66.3 75.6H51.9L70.8 31.8C68.2 30.6 66.1 28.8 64.5 26.4C63.1 23.8 62.4 21 62.4 18C62.4 13.2 64 9.19999 67.2 5.99999C70.6 2.59999 74.6 0.899988 79.2 0.899988Z' fill='#FF2625' fill-opacity='0.08')
        div.points
            img(src="./assets/images/points.png", alt="points")
        div.controls 
            label.left(for="leftArrow")
                div.leftArrow                    
                    svg(width='14' height='8' viewbox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M13.5987 3.56266H2.18977L4.81464 0.937799L4.19593 0.319092L0.514832 4.00019L4.19593 7.68129L4.81464 7.06258L2.18972 4.43766H13.5987V3.56266Z' fill='#3A1212')                    
            label.right(for="rightArrow")
                div.rightArrow 
                    svg(width='14' height='8' viewbox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M13.5987 3.56266H2.18977L4.81464 0.937799L4.19593 0.319092L0.514832 4.00019L4.19593 7.68129L4.81464 7.06258L2.18972 4.43766H13.5987V3.56266Z' fill='#3A1212')
    