section.reviews.container
    div.img
        img(src="./assets/images/ImgSectionReviews.png", alt="people")
    div.textBlock
        p.textBlock__textOverTitle Testimonial                      
        h1.textBlock__title That’s What Our <br> Super Client Says
    div.wrapperReviewsSlider
        input#leftArrow(type="radio")
        input#rightArrow(type="radio")
        div.slidesReviewsSlider
            div.slidesReviewsSlider__slide.slideOne
                p.review “Gale is an amazing trainer as well as a great <br> person. She is so flexible when it comes to my <br> crazy work schedule and makes sure to always fit <br> me in. Every day she pushes me harder towards <br> my goals.”
                h3.name Jessica Parker
                p.country Mariland,USA
        div.controls 
            label.left(for="leftArrow")
                div.leftArrow                    
                    svg(width='14' height='8' viewbox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M13.5987 3.56266H2.18977L4.81464 0.937799L4.19593 0.319092L0.514832 4.00019L4.19593 7.68129L4.81464 7.06258L2.18972 4.43766H13.5987V3.56266Z' fill='#3A1212')                    
            label.right(for="rightArrow")
                div.rightArrow 
                    svg(width='14' height='8' viewbox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M13.5987 3.56266H2.18977L4.81464 0.937799L4.19593 0.319092L0.514832 4.00019L4.19593 7.68129L4.81464 7.06258L2.18972 4.43766H13.5987V3.56266Z' fill='#3A1212')
    