section.secondSlider.container
    div.rectangles
        img(src="./assets/images/rectangles.png", alt="rectangles")
    div.secondSliderIcon1 
        include secondSliderIcon1.pug
    div.secondSliderIcon2 
        include secondSliderIcon2.pug
    div.secondSliderIcon3 
        include secondSliderIcon3.pug
    div.textBlock
        p.textBlock__textOverTitle Our Instructors                      
        h1.textBlock__title Meet Our Extreamly <br> Talented Trainers
    div.wrapperSecondSlider
        input#leftArrow(type="radio")
        input#rightArrow(type="radio")
        div.slidesSecondSlider
            div.slidesSecondSlider__slide.slideOne
                img(src="./assets/images/secondSlider1.png", alt="Instructor")
                h3 Jason Holder
                p Cardio Expert
            div.slidesSecondSlider__slide.slideTwo
                img(src="./assets/images/secondSlider2.png", alt="Instructor")
                h3 Monica Sellesa
                p Nutrition Expert
            div.slidesSecondSlider__slide.slideThree
                img(src="./assets/images/secondSlider3.png", alt="Instructor")
                h3 Jhonson Russoe
                p Meditation Expert
        div.controls 
            label.left(for="leftArrow")
                div.leftArrow                    
                    svg(width='14' height='8' viewbox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M13.5987 3.56266H2.18977L4.81464 0.937799L4.19593 0.319092L0.514832 4.00019L4.19593 7.68129L4.81464 7.06258L2.18972 4.43766H13.5987V3.56266Z' fill='#3A1212')                    
            label.right(for="rightArrow")
                div.rightArrow 
                    svg(width='14' height='8' viewbox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M13.5987 3.56266H2.18977L4.81464 0.937799L4.19593 0.319092L0.514832 4.00019L4.19593 7.68129L4.81464 7.06258L2.18972 4.43766H13.5987V3.56266Z' fill='#3A1212')
                    