section.secondSlider.container
    div.rectangles
        img(src="./assets/images/rectangles.png", alt="rectangles")
    div.secondSliderIcon1 
        include secondSliderIcon1.pug
    div.secondSliderIcon2 
        include secondSliderIcon2.pug
    div.secondSliderIcon3 
        include secondSliderIcon3.pug
    div.textBlock
        p.textBlock__textOverTitle Our Instructors                      
        h1.textBlock__title Meet Our Extreamly <br> Talented Trainers
    div.wrapperSecondSlider
        input#leftArrow(type="radio")
        input#rightArrow(type="radio")
        div.slidesSecondSlider
            div.slidesSecondSlider__slide.slideOne
                img(src="./assets/images/secondSlider1.png", alt="Instructor")
                h3 Jason Holder
                p Cardio Expert
            div.slidesSecondSlider__slide.slideTwo
                img(src="./assets/images/secondSlider2.png", alt="Instructor")
                h3 Monica Sellesa
                p Nutrition Expert
            div.slidesSecondSlider__slide.slideThree
                img(src="./assets/images/secondSlider3.png", alt="Instructor")
                h3 Jhonson Russoe
                p Meditation Expert
        div.controls 
            label.left(for="leftArrow")
                div.leftArrow              
                    img.arrow(src="./assets/images/arrow.png", alt="")
                    img.arrowHover(src="./assets/images/arrowHover.png", alt="")   
            label.right(for="rightArrow")
                div.rightArrow              
                    img.arrow(src="./assets/images/arrow.png", alt="")
                    img.arrowHover(src="./assets/images/arrowHover.png", alt="")