svg(width='14' height='8' viewbox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M13.5987 3.56266H2.18977L4.81464 0.937799L4.19593 0.319092L0.514832 4.00019L4.19593 7.68129L4.81464 7.06258L2.18972 4.43766H13.5987V3.56266Z' fill='#3A1212')