doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Golds Gym
  link(rel='stylesheet' href='./assets/styles/styles.css')
  link(rel="shortcut icon", href="./assets/images/logo.png")
body
    //- ====header====   
    include components/header.pug

    //- presentSection
    include components/presentSection.pug

    //- firstSlider
    include components/firstSlider.pug
    

    //- secondSlider
    include components/secondSlider.pug

    //- reviews
    include components/reviews.pug
    //- descriptionSection

    include components/descriptionSection.pug



        

