.firstSlider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

    .textBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 170px;
        margin-left: 0;

        &__textOverTitle {
            @include FontTextOverTitle;
        }
        &__title {
            margin-top: 30px;
            margin-bottom: 60px;
            font-family: Josefin Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 44px;
            text-align: center;
            color: $ColorBrown;
        }
    }
}

.slides{
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include OneSlideFirstSlider;
    .slideTwo, .slideThree, .slideFour {
        margin-left: 30px;
    }    
}




