@import "src/assets/styles/util/_mixins.scss";

.presentSection {
    display: flex;
    flex-direction: row;           
}

.rectangles {
    img {
    position: absolute;
    left: 0;
    top: 30%;
    width: 130px;    
    }
}

.textBlock {     
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 300px;
    margin-left: 215px;

    &__textOverTitle {
        display: flex;
        flex-direction: row;
        align-items: flex-end;       

        p {
            @include FontTextOverTitle;
        }
        img {
            width: 26px;
            height: 26px;
            margin-left: 16px;
        }
    }

    &__title {
        font-family: Josefin Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 80px;
        color: $ColorTitle;
        margin-top: 40px;
        margin-bottom: 25px;
    }
    &__subtitle {
        font-family: Alegreya;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        color: $ColorSubtitle;
    }
    &__btm {
        display: flex;
        flex-direction: row;
        justify-content: space-between; //!!! не работает с кнопками
        margin-top: 60px;
        @include BtnAndBtnHover;       
    }
    

    &__backgroundText {
        font-family: Josefin Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 200px;
        color: $ColorBackgroundText;
        margin-top: 60px;
        z-index: 0;        
    }
}

.bacgroundPhoto {  //!! девушка урезается по ширине 
    max-width: 100%;
    width: 758px;
    border-radius: 0px 0px 0px 107px;
    background: url("../images/presentSectionBacgroundPhoto.png") no-repeat; 
    background-size: cover;   
    background-position: center;
    z-index: 2; 
    position: relative;
    top: 0;
    right: 0; 
}

@include PointsAndPointsHover;
.points {       
    img {        
        top: 147%;
        right: 2%;                 
    }       
}


@media screen and (max-width: 670px) {
    .rectangles, .bacgroundPhoto, .points {
        display: none;
    }
    .textBlock {
        max-width: 100%;
        width: 670px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    
        &__textOverTitle {
            p {
                font-size: 15px;
            }
            img {
                width: 20px;
                height: 20px;                
            }
        }

        &__title {            
            font-size: 50px;            
            margin-top: 20px;
            margin-bottom: 15px;
        }
        &__subtitle {            
            font-size: 17px;            
        }
        &__btm {            
            margin-top: 30px;            
            a {                
                font-size: 17px;               
                padding: 10px 30px;                
            }                    
        }
    }
}


